$primary-color: #0d6efd;
$secondary-color: #212529;
$background-color: #f8fafc;
$text-color: #212529;

$font-family: "Segoe UI", sans-serif;

$spacing-sm: .5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$border-radius: 12px;